setuptools
wheel
thingspeak==0.4.1 # fixed version because of changes that broke our scripts
bme680
adafruit-circuitpython-dht # latest DHT library
Pillow # required since version v1.3.7
ds18b20 # required since version v1.3.7
rak811 # required since version v1.3.7 - LoRaWAN module rak811
smbus2 # required since version v1.3.7 - oled & wittypi
pytz # required since version v1.3.7 - wittypi & PA1010D
pynmea2 # required since version v1.3.7 - PA1010D (gps)
timezonefinder # required since version v1.3.7 - PA1010D (gps)
