# WLAN-Router-Betrieb / WLAN-AP-Betrieb

# Schnittstelle und Treiber
interface=uap0
driver=nl80211

# WLAN-Konfiguration
ssid=HoneyPi
hw_mode=${HWMODE}
channel=${CHANNEL}
ieee80211n=1
ieee80211d=1
country_code=DE
wmm_enabled=1
macaddr_acl=0

# WLAN-Verschluesselung
auth_algs=1
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=HoneyPi!
ignore_broadcast_ssid=0
